body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 16px;
}

#main {
	width: 100%;
	height: 100vh;
	background-color: #959595;
	overflow: hidden;
}

#main div {
	float: left;
}

#main a {
	text-decoration: none;
	color: black;
}

#main p {
	font-size: 4em;
	margin-top: 40vh;
	margin-left: 35%;
}

#man {
	width: 50%;
	height: 100vh;
	background-color: rgba(221, 123, 222, 0.5);
}

#man:hover {
	background-color: rgba(221, 123, 222, 0.9)
}

#woman {
	width: 50%;
	height: 100vh;
	background-color: rgba(12, 12, 145, 0.5);
}

#woman:hover {
	background-color: rgba(12, 12, 145, 0.9);
}

#categories {
	width: 100%;
	height: 100vh;
	background-color: rgba(122, 122, 111, 0.3);
	overflow: hidden;
}

.subcategory {
	width: 300px;
	height: 300px;
	margin: 150px 20px 0 0;
	background-color: grey;
	float: left;
}

.subcategory:nth-child(1) {
	margin-left: 200px;
}

.subcategory p {
	margin-top: 45%;
	margin-left: 120px;
}

.subcategory a {
	text-decoration: none;
	color: #000;
}

#sticky-main {
	position: absolute;
	top: 0;
	left: 44%;
	overflow: hidden;
}

.sticky-category {
	background-color: skyblue;
	padding: 0px 15px;
	float: left;
	width: 50px;
}

.sticky-category:nth-child(1) {
	background-color: #25CF59;
}

.sticky-category p {
	padding: 0;
	margin: 10px 0px;
}

.sticky-category a {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-decoration: none;
	color: #000;
}