Options -MultiViews
RewriteEngine On

RewriteBase /ITAKADEMIJA_zavrsni_rad/3-itcomm/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]